.progress {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
}

.progress-bar {
  width: 50%;
  background-color: cornflowerblue;
  border-radius: 6px;
  text-align: center;
}

.css-1s2u09g-control {
  background-color: #151f30 !important;
  border: 0px solid transparent !important;
}

.css-1pahdxg-control {
  background-color: #151f30 !important;
}

.css-6j8wv5-Input {
  input {
    color: white !important;
  }
}

.css-qc6sy-singleValue {
  color: white !important;
}
