.progress {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 20px;
}

.progress-bar {
  width: 50%;
  background-color: cornflowerblue;
  border-radius: 6px;
  text-align: center;
}
